{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-proto-to-assign",
    "@babel/plugin-transform-strict-mode",
    "@babel/proposal-object-rest-spread",
    "dev-expression",
    "add-module-exports"
  ],
  "presets": ["@babel/preset-typescript"],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": "commonjs",
            "loose": true
          }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-export-default-from",
        "add-module-exports"
      ]
    },
    "rollup": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": false
          }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-export-default-from",
        "add-module-exports"
      ]
    },
    "jsnext": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": false,
            "loose": true
          }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", { "useESModules": true }],
        "add-module-exports"
      ]
    }
  }
}